* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 100%;

}

.header {
    width: auto;
    background-color: rgb(255, 208, 0);
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    font-weight: 900;
    color: white;
}


main {
    display: flex;
    justify-content: center;  
}



#card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    
    margin-top: 3rem;
   width: 20rem;
    height:28rem;
    background: linear-gradient(324.84deg, rgba(239, 188, 56, 0.136) 14.05%, rgba(250, 186, 24, 0.2) 100%), linear-gradient(271.24deg, #FDD368 -4.18%, #F8B70F -4.17%, rgba(222, 194, 123, 0.6) 110.03%), url(.jpg);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
  
}
img{
    border-radius: 4rem;
    margin-top: 2rem;
}
button{
   border-radius: 2rem;
    width: 15rem;
    border: none;
    height: 2rem;

}
#address{
    font-size: .7rem;
}
#email{
    font-weight: 700;
    font-size: .9rem;
}
#phoneNumber{
    font-weight: 900;
    font-size: 1.2rem;
}




